{{!
    @template mod_socialforum/socialforum_post_emaildigestbasic_htmlemail

    Template which defines a social forum post for sending in a single-post HTML email.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * permalink
    * subject
    * authorlink
    * authorfullname
    * postdate

    Example context (json):
    {
        "permalink": "https://example.com/mod/socialforum/discuss.php?d=2#2",
        "subject": "Is Lorem ipsum Latin?",
        "authorlink": "https://example.com/user/view.php?id=2&course=2",
        "authorfullname": "Lucius Caecilius lucundus",
        "postdate": "Sunday, 13 September 2015, 2:22 pm"
    }
}}
<div>
  <a target="_blank" href="{{{ permalink }}}">{{{ subject }}}</a>
  {{# str }} bynameondate, socialforum, {
          "name": {{# quote }}<a target="_blank" href="{{{ authorlink }}}">{{ authorfullname }}</a>{{/ quote }},
          "date": {{# quote }}{{ postdate }}{{/ quote }}
      } {{/ str }}
</div>
